In [1]:
import os
import numpy as np
import pandas as pd

### Step - 1
 - First extract dataframe of title.akas.tsv file. 
 - Collect title ids of those records whose language or region is unknown or is not popular (number of occurrences of those languages less than 30K or non-top-8 langugaes).
 - Drop columns of ordering and attributes as they doesn't seems to be important features.
 - Store all these removable or irrelevant titleIds in a Set named `irrelevant_titleIds` and this removes around `17%` of the data from titles.akas.tsv file

In [4]:
title_akas_df = pd.read_csv('../data/latest-tsvs/title.akas.tsv', sep= '\t')
title_akas_df.head()

/Users/abhinivesh/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [19]:
len( title_akas_df[ (title_akas_df.language == '\\N') | (title_akas_df.region == '\\N') ] )

4118884

In [39]:
language_counts = title_akas_df.language.value_counts()

In [49]:
top_languages = set( language_counts[ (language_counts > 30000) & (language_counts.index != '\\N') ].index )

In [52]:
languages_to_be_removed = set( language_counts[ (language_counts < 30000) | (language_counts.index == '\\N') ].index )

In [56]:
len( title_akas_df.loc[ title_akas_df.language.isin(languages_to_be_removed) ] )

4250720

In [59]:
title_akas_df = title_akas_df.drop( columns= ['ordering', 'attributes' ] )

In [60]:
title_akas_df.head()

,titleId,title,region,language,types,isOriginalTitle
0,tt0000001,Карменсіта,UA,\N,imdbDisplay,0
1,tt0000001,Carmencita,DE,\N,\N,0
2,tt0000001,Carmencita - spanyol tánc,HU,\N,imdbDisplay,0
3,tt0000001,Καρμενσίτα,GR,\N,imdbDisplay,0
4,tt0000001,Карменсита,RU,\N,imdbDisplay,0

In [61]:
irrelevant_titleIds = set()

In [66]:
removable_akas_ids = set( title_akas_df.loc[ title_akas_df.language.isin(languages_to_be_removed) ].titleId.tolist() )

In [70]:
irrelevant_titleIds = irrelevant_titleIds.union(removable_akas_ids)

### Step - 2
 - Extract dataframe of title.basics.tsv
 - Remove records whose title doesn't have both start year and end year, (or) doesn't have any genres, (or) the titleType is not that significant like the last 4 values sorted in descending order of their occurrences.
 - Store all these removable or irrelevant titleIds in the same Set named `irrelevant_titleIds` and this removes around `41%` of the data from titles.akas.tsv file

In [72]:
title_basics_df = pd.read_csv('../data/latest-tsvs/title.basics.tsv', sep= '\t')
title_basics_df.head()

/Users/abhinivesh/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [74]:
title_basics_df.titleType.value_counts()

tvEpisode       5250669
short            776521
movie            557038
video            282535
tvSeries         195015
tvMovie          110980
tvMiniSeries      33977
tvSpecial         30087
videoGame         26586
tvShort           26219
Name: titleType, dtype: int64

In [79]:
title_types_value_counts = title_basics_df.titleType.value_counts()
removable_title_types = set( title_types_value_counts[ title_types_value_counts < 40000 ] )

In [88]:
removable_titleIds = title_basics_df.loc[ (title_basics_df.startYear == '\\N') & (title_basics_df.endYear == '\\N') | 
                (title_basics_df.genres == '\\N') | (title_basics_df.titleType.isin(removable_title_types) ) ].tconst.tolist()

In [90]:
removable_titleIds = set(removable_titleIds)

In [92]:
irrelevant_titleIds = irrelevant_titleIds.union(removable_titleIds)

In [94]:
len(irrelevant_titleIds), len( set( title_akas_df.titleId ) )

(3319808, 5125534)

In [96]:
len( title_akas_df.loc[ title_akas_df.titleId.isin(irrelevant_titleIds) ] ) / len(title_akas_df)

0.41190693123525424

### Step - 3
 - For title_crew, if directors & writers having null values are removed => it removes 67% of title_akas data and so I didn't think of proceeding further with this idea.
 - For title_principals, I planned on removing those records also whose actors have no info of thier known titles in name_basics table
 - All other title related tables are remained as is because it doesn't make much sense to remove null values in their table's attributes.

In [98]:
title_crew_df = pd.read_csv('../data/latest-tsvs/title.crew.tsv', sep= '\t')
title_crew_df.head()

      tconst  directors writers
0  tt0000001  nm0005690      \N
1  tt0000002  nm0721526      \N
2  tt0000003  nm0721526      \N
3  tt0000004  nm0721526      \N
4  tt0000005  nm0005690      \N

In [101]:
len( title_crew_df.loc[ (title_crew_df.directors == '\\N') & (title_crew_df.writers == '\\N') ] )

2554899

In [103]:
removable_titleIds = title_crew_df.loc[ (title_crew_df.directors == '\\N') & (title_crew_df.writers == '\\N') ].tconst.tolist()

In [104]:
removable_titleIds = set(removable_titleIds)
len(removable_titleIds)

2554899

In [105]:
irrelevant_titleIds_2 = irrelevant_titleIds.union(removable_titleIds)
len( title_akas_df.loc[ title_akas_df.titleId.isin(irrelevant_titleIds_2) ] ) / len(title_akas_df)

0.6700149948705715

In [106]:
title_episode_df = pd.read_csv('../data/latest-tsvs/title.episode.tsv', sep= '\t')
title_episode_df.head()

      tconst parentTconst seasonNumber episodeNumber
0  tt0041951    tt0041038            1             9
1  tt0042816    tt0989125            1            17
2  tt0042889    tt0989125           \N            \N
3  tt0043426    tt0040051            3            42
4  tt0043631    tt0989125            2            16

In [110]:
title_principals_df = pd.read_csv('../data/latest-tsvs/title.principals.tsv', sep= '\t')
title_principals_df.head()

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N

In [114]:
title_ratings_df = pd.read_csv('../data/latest-tsvs/title.ratings.tsv', sep= '\t')
title_ratings_df.head()

      tconst  averageRating  numVotes
0  tt0000001            5.6      1656
1  tt0000002            6.1       200
2  tt0000003            6.5      1368
3  tt0000004            6.2       122
4  tt0000005            6.2      2151

In [126]:
title_principals_df.drop( columns= ['ordering'] )

,tconst,nconst,category,job,characters
0,tt0000001,nm1588970,self,\N,"[""Self""]"
1,tt0000001,nm0005690,director,\N,\N
2,tt0000001,nm0374658,cinematographer,director of photography,\N
3,tt0000002,nm0721526,director,\N,\N
4,tt0000002,nm1335271,composer,\N,\N
...,...,...,...,...,...
41706001,tt9916880,nm0996406,director,principal director,\N
41706002,tt9916880,nm1482639,writer,\N,\N
41706003,tt9916880,nm2586970,writer,books,\N
41706004,tt9916880,nm1594058,producer,producer,\N
41706005,tt9916880,nm1052583,actress,\N,"[""Mum"",""Tidy Ted"",""Fang""]"

### Step - 4
 - For name_basics, records whose knownForTitles are missing are removed as we can't attach them to any movies.

In [117]:
name_basics_df = pd.read_csv('../data/latest-tsvs/name.basics.tsv', sep= '\t')
name_basics_df.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0031983,tt0072308,tt0053137,tt0050419"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0037382,tt0117057,tt0038355,tt0071877"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0049189,tt0054452,tt0059956,tt0057345"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0078723,tt0072562,tt0080455,tt0077975"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0060827,tt0050976,tt0083922,tt0050986"

In [120]:
name_basics_df.knownForTitles.value_counts()

\N                                         1874094
tt0123338                                     6969
tt0486531                                     2834
tt0133302                                     2640
tt0206501                                     2367
                                            ...
tt9454108,tt1228986,tt1042367,tt1019889          1
tt7762486                                        1
tt5980304,tt0844575,tt0115355,tt0184122          1
tt1385633,tt1764583                              1
tt0108783,tt0476918,tt0124949,tt0101414          1
Name: knownForTitles, Length: 4352564, dtype: int64

In [122]:
irrelevant_names = set( name_basics_df.loc[ name_basics_df.knownForTitles == '\\N'].nconst.tolist() )

In [123]:
len(irrelevant_names)

1874094

In [124]:
len( title_principals_df.loc[ title_principals_df.tconst.isin(irrelevant_titleIds) | title_principals_df.nconst.isin(irrelevant_names)])

19450491

### Step - 5
 - Remove rows with irrelevant titleIds and nameIds
 - Write them to tsv files - new

In [130]:
title_akas_df_new = title_akas_df.loc[ ~title_akas_df.titleId.isin(irrelevant_titleIds) ]

In [131]:
title_akas_df_new.to_csv('../data/modified-tsvs/title.akas.tsv', sep= '\t')

In [133]:
title_basics_df_new = title_basics_df.loc[ ~title_basics_df.tconst.isin(irrelevant_titleIds) ]

In [134]:
title_basics_df_new.to_csv('../data/modified-tsvs/title.basics.tsv', sep= '\t')

In [135]:
title_crew_df_new = title_crew_df.loc[ ~title_crew_df.tconst.isin(irrelevant_titleIds) ]

In [136]:
title_crew_df_new.to_csv('../data/modified-tsvs/title.crew.tsv', sep= '\t')

In [137]:
title_episode_df_new = title_episode_df.loc[ ~title_episode_df.parentTconst.isin(irrelevant_titleIds) ]

In [138]:
title_episode_df_new.to_csv('../data/modified-tsvs/title.episode.tsv', sep= '\t')

In [140]:
title_principals_df_new = title_principals_df.loc[ (~title_principals_df.tconst.isin(irrelevant_titleIds)) &  (~title_principals_df.nconst.isin(irrelevant_names)) ]

In [141]:
title_principals_df_new.to_csv('../data/modified-tsvs/title.principals.tsv', sep= '\t')

In [142]:
title_ratings_df_new = title_ratings_df.loc[ ~title_ratings_df.tconst.isin(irrelevant_titleIds) ]

In [143]:
title_ratings_df_new.to_csv('../data/modified-tsvs/title.ratings.tsv', sep= '\t')

In [144]:
name_basics_df_new = name_basics_df.loc[ ~name_basics_df.nconst.isin(irrelevant_names) ]

In [145]:
name_basics_df_new.to_csv('../data/modified-tsvs/name.basics.tsv', sep= '\t')